

<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="update()">

    <div class="form-group row" id="mainbox">

      <div class="col-8">

        <div class="form-group row">
          <div class="col-5">
            <label for="fName">Figure's name:</label>
          </div>
          <div class="col-7">
            <input class="form-control row" type="text" name="Figurename" placeholder=" " id="fName"
                   formControlName="nameControl" style="margin-left: 1%"></div>
        </div>
        <div class="form-group row">
          <div class="col-5">
            <label for="ANum">Serial Number: </label>
          </div>
          <div class="col-7">
            <input class="form-control" type="text" name="ArticleNumber" placeholder=" " id="ANum"
                   formControlName="articleNumberControl" ></div>
        </div>
        <div class="form-group row">
          <div class="col-5">
            <label for="topic">Series: </label>
          </div>
          <div class="col-7">
            <input class="form-control" type="text" name="Topic" placeholder=" " id="topic"
                   formControlName="topicControl" ></div>
        </div>
        <div class="form-group row">
          <div class="col-5">
            <label for="bPrice">Buying price : </label>
          </div>
          <div class="col-7">
            <input class="form-control" type="text" name="Buying  price" placeholder=" " id="bPrice"
                   formControlName="purchasePriceControl" ></div>
        </div>
        <div class="form-group row">
          <div class="col-5">
            <label for="sPrice">Selling price: </label>
          </div>
          <div class="col-7">
            <input class="form-control" type="text" name="Selling price" placeholder=" " id="sPrice"
                   formControlName="salePriceControl" ></div>
        </div>
      </div>
    </div>
  </form>
</div>

        <div class="=col-lg-6 col-sm-6">
          <button id="update" class="btn" type="submit" [disabled]="!form.valid" style="background-color: #1C365E; margin-left: 80%; margin-bottom: 10%; color: #F6F6F6">Update</button>
        </div>





<!--script for input-image-->
<!--<script type="text/javascript">-->
<!--  function ShowPreview(event) {-->
<!--    if (event.target.files.length > 0) {-->
<!--      let src = URL.createObjectURL(event.target.files[0]);-->
<!--      let preview = document.getElementById("file-up-preview");-->
<!--      preview.src = src;-->
<!--      preview.style.display = "block";-->
<!--    }-->
<!--  }-->
<!--</script>-->

