#btnReg{
  background-color: rgba(217, 217, 217, 0.0);
  border: none;
  font-style: italic;
  text-decoration-line: underline;
  color: #1C365E;
  font-weight: bold;
}
.register{
  background-color: rgba(217, 217, 217, 0.8);
  width: 40%;
  height: 65%;
  margin-left: 25%;
  margin-top: 2%;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 2px dimgray;
  margin-bottom: 15%;
}
img{
  margin-top: 3%;
  width: 90px;
  height: 110px;
  margin-bottom: 5%;
}
.icon{
  text-align: center;
}

login {
  box-shadow: 1px 1px 1px 1px #1C365E;
}

.full-width {
  width: 100%;
}

