/*.input {*/
/*  padding: 1%;*/
/*  width: 60%;*/
/*  !*top right bottom left*!*/
/*  margin: 3% 20% 0% 20%;*/
/*  box-shadow: 1px 1px 3px 2px dimgray;*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*}*/
#block {
  background-color: rgba(217, 217, 217, 0.8);
  width: 30%;
  height: 60%;
  margin-left: 35%;
  margin-top: 0%;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 2px dimgray;
  /*margin-bottom: 15%;*/
}

.row {
  margin-top: 10%;
  margin-left: 20%;
}

input {
  padding: 5%;
  width: 100%;
  /*top right bottom left*/
  margin: 3% 0% 0% 0%;
  box-shadow: 1px 1px 3px 2px dimgray;
  border: none;
  border-radius: 5px;
}

#submit {
  color: white;
  background-color: rgba(28, 54, 94, 0.8);
  box-shadow: 1px 1px 1px 1px #1C365E;
  margin-left: 5%;
  margin-top: 10%;

}
#cancel {
  font-weight: normal;
  color: black;
  margin-left: 25%;
  margin-top: 10%;
  background-color: rgba(217, 217, 217, 0.8);
  box-shadow: 1px 1px 1px 1px dimgray;

}
