<div style="background-image:  url('./../../assets/toys-950148_1920.jpg');background-size:cover; height: 96%">
  <div style="font-size: xxx-large; font-family: 'Courier New'; font-weight: bold; text-align: center;padding-top: 3%">
    Welcome to the MEGA Construx collection!
  </div>
  <div id="block">
    <form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="shipping-card">
        <div class="titel" style="height: 80px">
          <p
            style="font-size: xx-large; font-family: 'Courier New'; font-weight: bold; padding-top: 0%; text-align: center">
            Registration</p>
        </div>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="First name" formControlName="firstname">
                <mat-icon matSuffix>person_add</mat-icon>
                <mat-error style="font-size: 12px" *ngIf="registerForm.controls['firstname'].hasError('required')">
                  First name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Last name" formControlName="lastname">
                <mat-icon matSuffix>person_add</mat-icon>
                <mat-error style="font-size: 12px" *ngIf="registerForm.controls['lastname'].hasError('required')">
                  Last name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="E-Mail" formControlName="email" (change)="checkIfExists($event.target)">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error style="font-size: 12px" *ngIf="registerForm.controls['email'].hasError('required')">
                  E-Mail is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field style="font-size: 12px"
                              hintLabel="At least 8 characters, at least 1 upper and lower case letter, digit and special character in length"
                              class="full-width">
                <input style="font-size: 16px" matInput [type]="hide ? 'password' : 'text'" placeholder="Passwort" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error style="font-size: 12px" *ngIf="registerForm.controls['password'].hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content><br/>
        <div class="mat-card-actions" style="text-align: center; margin-bottom: 5%">
          <button id="cancel" mat-raised-button color="primary" type="btn" (click)="cancel()">Cancel</button>
          <button id="submit" mat-raised-button color="primary" type="submit">Submit</button>
        </div>
      </mat-card>
    </form>
  </div>
</div>
