.mat-mdc-card {
  background-color: rgba(217, 217, 217, 0.8);
  width: 45%;
  height: 70%;
  margin-left: 25%;
  margin-top: 2%;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 2px dimgray;
  display: flex;
}


.full-width {
  margin-left: 7%;
  width: 86%;
}

#submit {
  color: white;
  background-color: rgba(28, 54, 94, 0.8);
  box-shadow: 1px 1px 1px 1px #1C365E;
  margin-left: 5%;
  margin-top: 2%;
}
#cancel {
  font-weight: normal;
  color: black;
  /*margin-left: 35%;*/
  margin-top: 2%;
  background-color: rgba(217, 217, 217, 0.8);
  box-shadow: 1px 1px 1px 1px dimgray;
}
mat-mdc-card-actions mdc-card__actions{
  text-align: center;
}
p _ngcontent-dfr-c183{
  margin: -16px;
}
